{% extends 'base.html' %}
{% block title %}about_us |desi_foods{% endblock %}
{% load static %}
{% block body %}
<section class="about_section layout_margin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div class="detail-box">
          <div class="heading_container" style="margin-left: 90px">
            <h2>
              About <br>
              Our <br>
              Food
            </h2>
            <hr>
          </div>
          <p class="paragraph_container" style="margin-left: 90px">
            Our foods are a delightful blend of flavors and traditions, crafted with fresh, high-quality ingredients to offer a memorable dining experience.
            Each dish is prepared with care,
            reflecting our commitment to taste and authenticity.
          </p >
          <a href="" class="paragraph_container">
            Read More
          </a>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="{% static 'images/about-img.jpg' %}" alt="" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}











